<h2><%= @restaurant.name %></h2>

<ul>
  <li><strong><%= 'Address:' %></strong> <%= @restaurant.address %></li>
  <li><strong><%= 'Phone:' %></strong> <%= @restaurant.phone_number %></li>
  <li><strong><%= 'Category:' %></strong> <%= @restaurant.category %></li>
</ul>

 <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all restaurants", restaurants_path %>
    </div>
  </div>
</div>
